/pom.xml.releaseBackup
/psoaruleml-api.iml
/.idea
/target/checkout
/target/classes
/target/generated-sources
/target/javadoc-bundle-options
/target/maven-archiver
/target/maven-status
/target/surefire